/.idea/
/bank_reserves/
/boid_flockers/
/boltzmann_wealth_model/
/boltzmann_wealth_model_network/
/charts/
/color_patches/
/conways_game_of_life/
/conways_game_of_life/
/epstein_civil_violence/
/pd_grid/
/pomegranate/
/schelling/
/shape_example/
/sugarscape_cg/
/virus_on_network/
/wolf_sheep/
/virus_on_network/
